Repository ludflu/kaya: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,json,css}": ["prettier --write"],
  "*.md": ["prettier --write", "markdownlint --fix"]
}

fix(i18n): wait for translations to load before showing updater text
  apps/desktop/src/Updater.tsx
  packages/ui/src/i18n/locales/de.json
  packages/ui/src/i18n/locales/en.json
  packages/ui/src/i18n/locales/es.json
  packages/ui/src/i18n/locales/fr.json
  packages/ui/src/i18n/locales/it.json
  packages/ui/src/i18n/locales/ja.json
  packages/ui/src/i18n/locales/ko.json
  packages/ui/src/i18n/locales/zh.json
Due: prettier --write

fix(i18n): add missing translation keys for landing, editToolbar, and scoring
  packages/ui/src/i18n/locales/de.json
  packages/ui/src/i18n/locales/en.json
  packages/ui/src/i18n/locales/es.json
  packages/ui/src/i18n/locales/fr.json
  packages/ui/src/i18n/locales/it.json
  packages/ui/src/i18n/locales/ja.json
  packages/ui/src/i18n/locales/ko.json
  packages/ui/src/i18n/locales/zh.json
Due: prettier --write

feat(desktop): add landing page and home button for mobile/tablet layout
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src/App.tsx
  apps/web/src/App.tsx
  packages/ui/src/components/layout/LandingPage.css
  packages/ui/src/components/layout/LandingPage.tsx
  packages/ui/src/i18n/locales/de.json
  packages/ui/src/i18n/locales/en.json
  packages/ui/src/i18n/locales/es.json
  packages/ui/src/i18n/locales/fr.json
  packages/ui/src/i18n/locales/it.json
  packages/ui/src/i18n/locales/ja.json
  packages/ui/src/i18n/locales/ko.json
  packages/ui/src/i18n/locales/zh.json
  packages/ui/src/index.ts
Due: prettier --write

fix: landing page library button now opens library tab on mobile
  README.md
  apps/desktop/src/App.tsx
  apps/web/src/App.tsx
  packages/ui/src/i18n/locales/zh.json
Due: prettier --write, markdownlint --fix

fix(i18n): rename 'Configuration IA' to 'Configuration de l'analyse' in french
  packages/ui/src/i18n/locales/fr.json
Due: prettier --write

docs: add multi-language and mobile/tablet support to features
  README.md
Due: prettier --write, markdownlint --fix

docs: replace text links with styled action buttons
  README.md
Due: prettier --write, markdownlint --fix

feat: migrate model hosting from GitHub to Hugging Face
  apps/desktop/src-tauri/capabilities/default.json
  apps/web/rsbuild.config.ts
  packages/ui/src/components/ai/AIAnalysisConfig.tsx
  packages/ui/src/hooks/game/useAIAnalysis.ts
Due: prettier --write

feat(ui): create new game on paste with game name as filename
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/capabilities/default.json
  apps/desktop/src-tauri/src/main.rs
  packages/ui/src/components/file/AppDropZone.tsx
  packages/ui/src/components/layout/Header.tsx
  packages/ui/src/hooks/game/useGameTreeState.ts
  packages/ui/src/services/ogsLoader.ts
Due: prettier --write

feat(ai): hierarchical model selector with quantization options
  packages/ui/src/components/ai/AIAnalysisConfig.css
  packages/ui/src/components/ai/AIAnalysisConfig.tsx
  packages/ui/src/hooks/game/useAIAnalysis.ts
  packages/ui/src/i18n/locales/de.json
  packages/ui/src/i18n/locales/en.json
  packages/ui/src/i18n/locales/es.json
  packages/ui/src/i18n/locales/fr.json
  packages/ui/src/i18n/locales/it.json
  packages/ui/src/i18n/locales/ja.json
  packages/ui/src/i18n/locales/ko.json
  packages/ui/src/i18n/locales/zh.json
  packages/ui/src/types/game.ts
Due: prettier --write

feat(ai): add smart backend fallback with settings persistence
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/onnx_engine.rs
  packages/ai-engine/src/base-engine.ts
  packages/ai-engine/src/index.ts
  packages/ai-engine/src/onnx-engine.ts
  packages/ui/src/components/board/GameBoard.css
  packages/ui/src/components/board/GameBoard.tsx
  packages/ui/src/contexts/AIAnalysisContext.tsx
  packages/ui/src/hooks/game/useAIAnalysis.ts
  packages/ui/src/workers/WorkerEngine.ts
  packages/ui/src/workers/ai.worker.ts
Due: prettier --write

refactor(ai): simplify model definitions with url generation helper
  packages/ui/src/hooks/game/useAIAnalysis.ts
Due: prettier --write

refactor(ai): improve expand/collapse handling in AIAnalysisConfig
  packages/ui/src/components/ai/AIAnalysisConfig.tsx
Due: prettier --write

chore(deps): update rust dependencies
  apps/desktop/src-tauri/Cargo.lock
Due: none

fix: delete cached model from tauri filesystem when model is deleted
  apps/desktop/src-tauri/src/commands.rs
  apps/desktop/src-tauri/src/main.rs
  packages/ui/src/hooks/game/useAIAnalysis.ts
Due: prettier --write

fix move generation build error
  packages/ui/src/components/board/BoardControls.tsx
  packages/ui/src/contexts/AIAnalysisContext.tsx
Due: prettier --write

show the ai move button
  packages/ui/src/components/board/BoardControls.tsx
Due: prettier --write

add unit test
  packages/ui/src/components/board/BoardControls.tsx
  packages/ui/src/utils/gtpUtils.ts
  packages/ui/tests/gtpUtils.test.ts
Due: prettier --write

fix(ui): fix light mode styling for various UI components
  packages/ui/src/components/ai/AIAnalysisConfig.css
  packages/ui/src/components/editors/EditToolbar.css
  packages/ui/src/components/gametree/GameTreeGraphReactFlow.tsx
  packages/ui/src/styles/theme.css
Due: prettier --write

fix: edit toolbar layout and scroll behavior at 1440px width
  packages/ui/src/components/board/BoardControls.tsx
  packages/ui/src/components/board/GameBoard.css
Due: prettier --write

feat(ui): show analysis panel by default
  packages/ui/src/components/layout/ResizableLayout.tsx
Due: prettier --write

chore: add CLA assistant workflow and contributor license agreement
  .github/CLA.md
  .github/workflows/cla.yml
Due: prettier --write, markdownlint --fix

add generate move to engine
  packages/ai-engine/src/base-engine.ts
  packages/ui/src/components/board/GameBoard.tsx
Due: prettier --write

chore(deps): upgrade safe dependencies
  apps/desktop/package.json
  apps/desktop/rsbuild.config.ts
  apps/web/package.json
  apps/web/rsbuild.config.ts
  bun.lock
  package.json
  packages/shudan/package.json
  packages/ui/package.json
Due: prettier --write

docs: add contributing guide with setup instructions
  CONTRIBUTING.md
  README.md
Due: prettier --write, markdownlint --fix

docs: add issue and pull request templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write, markdownlint --fix

initial commit for labeling moves as sente-vs-gote
  apps/desktop/src/App.tsx
  apps/web/src/App.tsx
  packages/ai-engine/src/index.ts
  packages/ai-engine/src/sente-gote-analysis.ts
  packages/ai-engine/src/sente-gote-sgf.ts
  packages/ai-engine/src/sente-gote-types.ts
  packages/ai-engine/src/sente-gote-utils.ts
  packages/ai-engine/tests/sente-gote-analysis.test.ts
  packages/ai-engine/tests/sente-gote-sgf.test.ts
  packages/ai-engine/tests/sente-gote-utils.test.ts
  packages/ui/src/components/analysis/AnalysisGraphPanel.tsx
  packages/ui/src/components/analysis/SenteGoteSettingsModal.tsx
  packages/ui/src/components/gametree/GameTreeGraphReactFlow.tsx
  packages/ui/src/contexts/SenteGoteContext.tsx
  packages/ui/src/index.ts
Due: prettier --write

feat(ui): add translations and keyboard shortcut for suggest move button
  packages/ui/src/components/board/GameBoard.tsx
  packages/ui/src/i18n/locales/de.json
  packages/ui/src/i18n/locales/en.json
  packages/ui/src/i18n/locales/es.json
  packages/ui/src/i18n/locales/fr.json
  packages/ui/src/i18n/locales/it.json
  packages/ui/src/i18n/locales/ja.json
  packages/ui/src/i18n/locales/ko.json
  packages/ui/src/i18n/locales/zh.json
Due: prettier --write

fix(ui): play sound when AI suggests a move
  packages/ui/src/components/board/GameBoard.tsx
Due: prettier --write

refactor(ui): separate AI engine lifecycle from analysis context
  apps/desktop/src/App.tsx
  apps/web/src/App.tsx
  packages/ui/src/components/board/GameBoard.tsx
  packages/ui/src/contexts/AIAnalysisContext.tsx
  packages/ui/src/contexts/AIEngineContext.tsx
  packages/ui/src/index.ts
Due: prettier --write

refactor(ui): use createEngine factory to remove Tauri engine duplication
  packages/ui/src/contexts/AIEngineContext.tsx
  packages/ui/src/workers/engineFactory.ts
Due: prettier --write

fix(desktop): strip html comments from changelog in updater
  apps/desktop/src/Updater.tsx
Due: prettier --write

deploy: 24df7df2c6c55f6d2db536c7856128fdff537401
  next/version.json
Due: prettier --write

docs: remove xattr workaround instructions now that dmg is signed
  .github/workflows/release.yml
  README.md
  docs/UPDATER_SETUP.md
Due: prettier --write, markdownlint --fix

add handicap stones
  packages/ui/src/hooks/game/useGameTreeState.ts
Due: prettier --write

fix(ui): set white to play first when handicap stones are placed
  packages/ui/src/hooks/game/useGameTreeState.ts
Due: prettier --write

fix(ui): correctly determine current player with handicap games
  packages/ui/src/components/board/BoardControls.tsx
  packages/ui/src/components/board/GameBoard.tsx
  packages/ui/src/components/editors/EditToolbar.tsx
Due: prettier --write

refactor(goboard): extract getHandicapStones to shared package
  packages/goboard/src/index.ts
  packages/ui/src/hooks/game/useGameTreeState.ts
Due: prettier --write

ci: add PR title validation for conventional commits
  .github/workflows/pr-title.yml
Due: none
