Repository ludflu/kaya: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint --fix

chore(ci): add github automation workflows and policies
  .github/CODEOWNERS
  .github/SECURITY.md
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/codeql.yml
  .github/workflows/labeler.yml
  .github/workflows/lock.yml
  .github/workflows/welcome.yml
Due: prettier --write, markdownlint --fix

chore: remove optional scope validation from PR title check
  .github/workflows/pr-title.yml
Due: none

chore: remove unnecessary newline in PR title check workflow
  .github/workflows/pr-title.yml
Due: none

chore: remove CodeQL security analysis workflow
  .github/workflows/codeql.yml
Due: none

test: add unit tests and e2e tests with playwright
  .github/workflows/ci.yml
  .gitignore
  bun.lock
  e2e/smoke.e2e.ts
  package.json
  packages/gametree/package.json
  packages/gametree/tests/gametree.test.ts
  packages/goboard/package.json
  packages/goboard/tests/goboard.test.ts
  playwright.config.ts
Due: prettier --write

refactor(e2e): split tests into separate files by feature
  e2e/app.e2e.ts
  e2e/board.e2e.ts
  e2e/comments.e2e.ts
  e2e/navigation.e2e.ts
  e2e/responsive.e2e.ts
  e2e/smoke.e2e.ts
Due: prettier --write

ci: add rust/tauri compilation check to PR builds
  .github/workflows/ci.yml
Due: none

refactor(scripts): add tauri:check script for rust compilation check
  .github/workflows/ci.yml
  apps/desktop/package.json
  package.json
Due: prettier --write

ci: add nightly build workflow for linux, macos, and windows
  .github/workflows/nightly.yml
Due: none

fix(ci): read version from package.json instead of gitignored version.json
  .github/workflows/nightly.yml
Due: none

fix(ci): use standard version from package.json for nightly builds
  .github/workflows/nightly.yml
Due: none

fix(web): disable google analytics on localhost
  apps/web/index.html
Due: none

feat(desktop): add custom about dialog with version info and github links
  apps/desktop/src-tauri/src/main.rs
  apps/desktop/src/App.tsx
  packages/ui/src/components/dialogs/AboutDialog.css
  packages/ui/src/components/dialogs/AboutDialog.tsx
  packages/ui/src/i18n/locales/de.json
  packages/ui/src/i18n/locales/en.json
  packages/ui/src/i18n/locales/es.json
  packages/ui/src/i18n/locales/fr.json
  packages/ui/src/i18n/locales/it.json
  packages/ui/src/i18n/locales/ja.json
  packages/ui/src/i18n/locales/ko.json
  packages/ui/src/i18n/locales/zh.json
  packages/ui/src/index.ts
Due: prettier --write

fix(desktop): fix about dialog icon path and add icon to public
  apps/desktop/public/icon.png
  packages/ui/src/components/dialogs/AboutDialog.tsx
Due: prettier --write

feat(ui): add About dialog accessible from footer and menu
  apps/desktop/src/App.tsx
  apps/web/src/App.tsx
  packages/ui/src/components/dialogs/AboutDialog.tsx
  packages/ui/src/components/layout/StatusBar.css
  packages/ui/src/components/layout/StatusBar.tsx
  packages/ui/src/hooks/useExternalLinks.ts
  packages/ui/src/i18n/locales/de.json
  packages/ui/src/i18n/locales/en.json
  packages/ui/src/i18n/locales/es.json
  packages/ui/src/i18n/locales/fr.json
  packages/ui/src/i18n/locales/it.json
  packages/ui/src/i18n/locales/ja.json
  packages/ui/src/i18n/locales/ko.json
  packages/ui/src/i18n/locales/zh.json
Due: prettier --write

docs: clarify git commit behavior in agent rules
  AGENTS.md
Due: prettier --write, markdownlint --fix

feat(ui): require model download before enabling analysis mode
  packages/ui/src/hooks/game/useAIAnalysis.ts
Due: prettier --write

fix: pin linuxdeploy version for Linux AppImage EGL fix
  .github/workflows/nightly.yml
Due: none

list top blunders
  packages/ui/src/components/analysis/AnalysisGraphPanel.css
  packages/ui/src/components/analysis/AnalysisGraphPanel.tsx
Due: prettier --write

feat(ui): enable undo/redo keyboard shortcuts globally
  packages/ui/src/components/layout/Header.tsx
Due: prettier --write

feat(ui): add drag-to-paint and toggle markers for edit tools
  packages/shudan/src/Goban.tsx
  packages/shudan/src/types.ts
  packages/ui/src/components/board/GameBoard.tsx
  packages/ui/src/hooks/game/useGameModification.ts
Due: prettier --write

fix(ui): only process left-click for drag-to-paint markers
  apps/desktop/src-tauri/Cargo.lock
  packages/ui/src/components/board/GameBoard.tsx
Due: prettier --write

calculate alternate playout
  packages/ui/src/components/analysis/AnalysisGraphPanel.css
  packages/ui/src/components/analysis/AnalysisGraphPanel.tsx
Due: prettier --write

refactor to pull apart the gametree
  packages/gametree/src/Draft.ts
  packages/gametree/src/GameTree.ts
  packages/gametree/src/Hasher.ts
  packages/gametree/src/index.ts
Due: prettier --write

seperate caching from gametree
  packages/gametree/src/Draft.ts
  packages/gametree/src/GameTree.ts
  packages/gametree/src/GameTreeCache.ts
  packages/gametree/src/index.ts
Due: prettier --write

fix off by one error
  packages/ui/src/components/analysis/AnalysisGraphPanel.tsx
Due: prettier --write

hurray! it works
  packages/ui/src/components/analysis/AnalysisGraphPanel.tsx
  packages/ui/src/contexts/GameTreeContext.tsx
  packages/ui/src/hooks/game/useGameModification.ts
  packages/ui/src/types/game.ts
Due: prettier --write

generate alts on demand
  packages/ui/src/components/analysis/AnalysisGraphPanel.tsx
Due: prettier --write

on demand gen of alt playouts
  packages/ui/src/components/analysis/AnalysisGraphPanel.tsx
Due: prettier --write

only analyze the mainline
  packages/ui/src/components/analysis/AnalysisGraphPanel.tsx
Due: prettier --write

fix bug - don't add dupe branch
  packages/ui/src/components/analysis/AnalysisGraphPanel.tsx
Due: prettier --write

navigate to the first node of the new branch
  packages/ui/src/components/analysis/AnalysisGraphPanel.tsx
  packages/ui/src/hooks/game/useGameModification.ts
  packages/ui/src/types/game.ts
Due: prettier --write

fix navigation
  packages/ui/src/components/analysis/AnalysisGraphPanel.tsx
  packages/ui/src/components/gametree/GameTreeGraphReactFlow.tsx
  packages/ui/src/contexts/GameTreeContext.tsx
  packages/ui/src/types/game.ts
Due: prettier --write

add translations
  packages/ui/src/components/analysis/AnalysisGraphPanel.tsx
  packages/ui/src/i18n/locales/de.json
  packages/ui/src/i18n/locales/en.json
  packages/ui/src/i18n/locales/es.json
  packages/ui/src/i18n/locales/fr.json
  packages/ui/src/i18n/locales/it.json
  packages/ui/src/i18n/locales/ja.json
  packages/ui/src/i18n/locales/ko.json
  packages/ui/src/i18n/locales/zh.json
Due: prettier --write

fix: update first-interaction action input names to v3 format
  .github/workflows/welcome.yml
Due: none

fix: use pull_request_target for labeler workflow
  .github/workflows/labeler.yml
Due: none

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,json,css}) or (any of: *.md)
  markdownlint --fix: any of: *.md
